.backHome{
    position: fixed;
    top: 0;
    left: -2px;
    text-decoration: none;
    z-index: 3;
}

.backHome p{
    color: black;
    padding: 10px 30px;
    background-color: skyblue;
    font-size: 14pt;
    border: solid black;
    border-radius: 0 5px 5px 0;
}

.backHome p:hover{
    transform: scale(1.05);;
}

/*追尾*/

#background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    background-attachment: fixed;
    backdrop-filter: blur(1px); 
}

.cover{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 3000px;
    width: 300px;
    /*backdrop-filter: blur(8px); */
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4); /* 枠線をさりげなく指定 */
    border-right-color: rgba(255, 255, 255, 0.2); /* 枠線の色をさりげなく指定 */
    border-bottom-color: rgba(255, 255, 255, 0.2);  /* 枠線の色をさりげなく指定 */
}

@media (min-width:768px){
    .cover{
        width: 1000px;
    }
}

body{
    margin: auto;
}
/*全てのセクションを中央に定義*/
section{
    display: block;
    width: 300px;
    margin: 30px auto;
}
@media (min-width:768px){
    section{
        width: 1000px;
        margin: 80px auto;
    }
}

.ex1, .ex2, .ex3, .ex4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exSkill{
    width: 90%;
    margin: 0 auto;
}

.title{
    margin-top: 50px;
    display: flex;
}

@media (min-width:768px){
    .title{
        margin-top: 0;
    }
}
.title > h1{
    margin-right: 10px;
}

.videoContentsMain1, .videoContentsMain2{
    position: relative;
}

.videoContents .videoContentsMain1 img{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.videoContents .videoContentsMain2 img{
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -1;
}

#nimo, #marigold{
    width: 100%;
    margin: 10px 5px;
}

@media (min-width:768px){
    #nimo, #marigold, .videoContents{
        width: 100%;
    }
}

.lang, .active{
    font-size: 15pt;
}

footer{
    background-color: black;
    padding: 40px 0;
}

footer h2, footer p{
    color: white;
    text-align: center;
    line-height: 2px;
}

footer h2{
    font-size: 10pt;
}

footer p{
    font-size: 8pt;
}